<header>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "Products", products_path %>
    <%= link_to "New Product", new_product_path %>
  </nav>
  <% if current_admin %>
    <p>
      Hello <strong><%= current_admin.email %>!</strong>
      <p><%= link_to "Cerrar sesion", destroy_admin_session_path, 'data-turbo-method': :delete %></p>
    <% else %>
      <p>
        No has iniciado sesion aun!!!
        <%= link_to "Registrarte!", new_admin_registration_path %>
        <%= link_to "Inicia sesion!", new_admin_session_path %>
      </p>
    <% end %>
  </header>